ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

td{
	padding-left: 6px;
	padding-right: 6px;
}

/*style of the navigation top buttons*/
.navitopbutton 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ff4511;
	-o-box-shadow:inset 0px 1px 0px 0px #ff4511;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff4511;
	box-shadow:inset 0px 1px 0px 0px #ff4511;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff4511), color-stop(1, #d40015) );
	background:-moz-linear-gradient( center top, #ff4511 5%, #d40015 100% );
	background:-o-linear-gradient( top, #ff4511, #d40015 );
	background:-ms-linear-gradient(top, #ff4511 0%, #d40015 100%);
	filter:DXImageTransform.Microsoft.gradient(startColorstr='#ff4511', endColorstr='#d40015');
	background-color:#ff4511;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #d40015;
	
	display: block;
	width: 300px;
	height:34px;
	
	border:1px solid #d40015;
	padding-right:15px;
	padding-left:16px;
	padding-top:14px;
	
	float: right;
}
.navitopbutton:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d40015), color-stop(1, #ff4511) );
	background:-moz-linear-gradient( center top, #d40015 5%, #ff4511 100% );
	background:-o-linear-gradient( top, #d40015, #ff4511);
	background:-ms-linear-gradient(top, #d40015 0%, #ff4511 100%);
	filter:DXImageTransform.Microsoft.gradient(startColorstr='#d40015', endColorstr='#ff4511');
	background-color:#d40015;
	cursor: hand; 
	cursor: pointer;
}

.navitopbuttonactive
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ff4511;
	-o-box-shadow:inset 0px 1px 0px 0px #ff4511;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ff4511;
	box-shadow:inset 0px 1px 0px 0px #ff4511;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d40015), color-stop(1, #ff4511) );
	background:-moz-linear-gradient( center top, #d40015 5%, #ff4511 100% );
	background:-o-linear-gradient( top, #d40015, #ff4511);
	background:-ms-linear-gradient(top, #d40015 0%, #ff4511 100%);
	filter:DXImageTransform.Microsoft.gradient(startColorstr='#d40015', endColorstr='#ff4511');
	background-color:#d40015;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #d40015;
	
	display: block;
	width: 300px;
	height:34px;
	
	border:1px solid #d40015;
	padding-right:15px;
	padding-left:16px;
	padding-top:14px;
	
	float: right;
}

.navileftbutton
{
	display: inline-block;
   
    height: 30px;
    padding-left: 10px;
}

.hiddentext
{
	color:#E6E6E6;
}

